<!doctype html>
<html>
<head>
</head>
<body>
    <div>
        <p><span><%= @name %></span> | <span><%= @full_name %></span></p>
        <p>From: <%= @from_location %></p>
        <p>To:<%= @to_location %></p>
        <p><%= @tweet_text %></p>  
    </div>
</body>
</html>