<% @orders.each do |order| %>
<article>
	<button class="float-right"
			onclick="Twaxis.expand('.tweets', this.parentNode, this.parentNode.querySelector('.reply'))">
			Expand</button>
	<button class="float-right blue"
			onclick="alert('This dispatches an order.')">
			Dispatch</button>
	<button class="float-right red"
			onclick="alert('This cancel an order.')">
			Cancel</button>
	<table>
		<tr>
            <th>Order ID</th>
			<th>Date</th>
			<th>Time</th>
			<th>From</th>
			<th>To</th>
		</tr>
		<tr>
            <td><%= order[:orderID] %></td>
			<td><%= order[:date] %></td>
			<td><%= order[:time] %></td>
			<td><%= order[:from] %></td>
			<td><%= order[:to] %></td>
		</tr>
	</table>
	<section class="hidden tweets">
		<% order[:tweets].each do |tweet| %>
		<hr>
		<span class="tweet-user-name"><%= tweet.user.name %></span>
		<span class="tweet-user-screen_name">@<%= tweet.user.screen_name %></span>
		<span class="tweet-created_at"><%= tweet.created_at %></span>
		<div class="tweet-text"><%= tweet.text %></div>
		<% end %>
		<hr>
		<form method="post" action="/orders">
			<input type="submit" class="float-right blue" value="Reply">
			<input type="hidden" name="in_reply_to_status_id" value="<%= order[:id] %>">
			<input type="text" class="reply" name="status" value="@<%= order[:screen_name] %> "
				pattern=".*@<%= order[:screen_name] %>.*"
				minlength="1" maxlength="140"
				placeholder="Write a reply..."
				onfocus="this.selectionStart = -1">
		</form>
	</section>
</article>
<% end %>