<% @tweets.each do |tweet| %>
<article class="order">		
	<button class="float-right"
			onclick="Twaxis.expand('.tweets', this.parentNode, this.parentNode.querySelector('.reply'))">
			Expand</button>
	<form method="post" action="/tweets/reject">
		<input type="submit" class="float-right red" value="Reject">
		<input type="hidden" name="order_id" value="<%= tweet.id %>">
		<input type="hidden" name="status" value="<%= TWEET_STATUS_REJECTED %>">
	</form>
	<form method="post" action="/tweets/accept">
		
		<span class="tweet-user-name"><%= tweet.user.name %></span>
		<span class="tweet-user-screen_name">@<%= tweet.user.screen_name %></span>
		<span class="tweet-created_at"><%= tweet.created_at %></span>
		<div class="tweet-text"><%= tweet.text %></div>
		
		<section class="hidden tweets">
			<input type="text" name="date" placeholder="Date">
			<input type="text" name="time" placeholder="Time">
			<input type="text" name="car_id" placeholder="Car ID">
			<input type="text" name="pickup_location" placeholder="Pickup location">
			<hr>
			<input type="submit" class="float-right blue" value="Submit">
			<input type="hidden" name="order_id" value="<%= tweet.id %>">
			<input type="hidden" name="status" value="<%= TWEET_STATUS_ACCEPTED %>">
			<input type="hidden" name="name" value="<%= tweet.user.name %>">
			<input type="hidden" name="screen_name" value="<%= tweet.user.screen_name %>">
			<input type="text" name="reply" value="@<%= tweet.user.screen_name %> "
				pattern=".*@<%= tweet.user.screen_name %>.*"
				minlength="1" maxlength="140"
				placeholder="Write a reply..."
				onfocus="this.selectionStart = -1">
		</section>
		
	</form>
</article>
<% end %>