<!-- <article>
	<h1>Work in progress</h1>
	<p>You'll eventually be able to see users' previous orders here,<br>
	as well as specify favourite locations and personal details.</p>
	<a href="javascript:history.back()"><button class="blue">Back</button></a>
</article> -->



    
<article>
    <form method="post" action="/users/submit">
        Search for a specific user ID:
      <input type ="text" name="search"
             value="<%=h params[:search] %>"/>
      <input type = "submit" name="submit" class="float-right blue" value="submit">
	</form>
    <form method="get">
     <% @users.each do |user| %>
     <table>
			<tr>
				<th>User ID</th>
				<th>First name</th>
				<th>Surname</th>
				<th>Twitter handle</th>
                <th>Email</th>
                <th>Reward points</th>
                <th>Status</th>
                <th>Total orders</th>
                <th>Total cancellations</th>
			</tr>
			<tr>
				<td><input type="text" name="userid" value="<%= user[:userid] %>"></td>
				<td><input type="text" name="firstname" value="<%= user[:firstname] %>"></td>
				<td><input type="text" name="surname" value="<%= user[:surname] %>"></td>
				<td><input type="text" name="twitter_handle" value="<%= user[:twitter_handle] %>"></td>
                <td><input type="text" name="email" value="<%= user[:email] %>"></td>
				<td><input type="text" name="reward_points" value="<%= user[:reward_points] %>"></td>
				<td><input type="text" name="status" value="<%= user[:status] %>"></td>
				<td><input type="text" name="total_orders" value="<%= user[:total_orders] %>"></td>
                <td><input type="text" name="total_cancellations" value="<%= user[:total_cancellations] %>"></td>
			</tr>
		</table>
        <% end %>
	</form>
</article>

